/*Navbar Style start*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  .navbar--items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: top 0.4s ease; 
    z-index: 999;
  }
  
  .navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: center; 
    gap: 40px; 
    margin: 0; 
  }
  
  .navbar--items ul > li > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar--content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
  .navbar--content.active {
    text-decoration: underline;
    font-weight: bold;
  }
 .theme_container{
    width: 4rem;
    display: inline-block;
    position: relative;
    top: 10px;
  }
  
  .theme-button-container {
    /* position: fixed; */
    top: 10px;
    right: -400px;
  }
  
  .container {
    display: inline-block;
    position: relative;
  }
  
  .checkbox {
    display: none;
  }
  
  .switch .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #e81cff;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  .checkbox:checked + .switch .slider {
    background-color: #222; 
  }
  
  .checkbox:checked + .switch .slider:before {
    transform: translateX(26px); 
  }
  
  /*Theme styles */
  .dark-theme {
    background-color: rgb(6, 6, 12);
    color: white; 
  }
  
  .light {
    --text-color: #333; 
    --background-color: #e8e8e8; 
  }
  
  .dark {
    --text-color: #fff; 
    --background-color: #212121; 
  }
  
  /* Apply theme to elements */
  body {
    color: var(--text-color);
    background-color: var(--background-color); 
  }

  .theme-button:hover {
    background-color: hsl(240, 3%, 93%); 
  }
  .nav-logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0b0a0a;
    padding: 20px 40px;
    border-radius: 8px;
    display: inline-block;
    background: linear-gradient(135deg, #7F00FF, #E100FF);
    position: relative;
  }
  
  .first-letter,
  .second-letter {
    position: absolute;
  }
  
  .first-letter {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #0f0f0e;
    font-size: 36px;
    font-style: italic;
  }
  
  .second-letter {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  /*Harmburger Menu Style*/
  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #e81cff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  @media screen and (max-width: 320px) {
    .navbar {
      padding: 5px;
    }
  
    .navbar--items {
      top: 55px; /* Adjusted top position */
    }
  
    .navbar--items ul {
      padding: 2rem 0 0.3rem;
    }
  
    .nav__hamburger {
      top: 20px;
      right: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  
    .navbar--items {
      display: none;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: 60px; /* Adjusted top position */
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
      z-index: 1000; /* Adjusted z-index */
    }
  
    .navbar--items.active {
      display: flex;
    }
  
    .navbar--items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
    }
  
    .navbar--items ul li {
      text-align: center;
    }
  
    .navbar--items ul li a {
      padding: 0.5rem;
    }
  
    .nav__hamburger {
      display: flex;
      z-index: 200;
    }
  
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }
  
  