/*Global CSS*/
body{
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

/* Global button style */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 21px 5px;
  text-decoration: none;
  border: #222;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 5px solid transparent;
  border-radius: 16px;
  width: 200px;
}


.btn:hover {
  background-color: #40c9ff;
}
/*Sectin Tittles*/
/*About, Projects, Contact*/
.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  align-self: flex-start;
}
/*Section Titles End*/


/* Hero Section  Style Start */
  .hero--section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hero--section--content--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  padding: 0;
}
.hero--section--content {
  text-align: center;
}
.hero--section--title-description {
  font-size: 24px;
}
.Typewriter-text {
  color: #e81cff;
  font-size: larger;
  font-weight: bolder;
}
.hero-image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .hero--section {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 133.333px 85.333px 133.333px;
      height: 80vh;
  }
  .hero--image {
    flex: 1;
    text-align: right;
    margin-top: 0;
}
  .hero--section--content--box {
      flex: 1;
      gap: 32px;
      text-align: left;
  }
  .hero--section--title-description {
      font-size: 36px;
  }
  .hero--section--buttons{
    display: flex;
    flex-wrap: nowrap;
  }
  .btn{
    width:155px;
  }
}
/* Hero Section Style End */

/* About Me Section Style  */
.about--section--heading {
  position: relative;
  top: 8rem;
  right: 7rem;
}
.about--section--content {
  display: flex; 
  align-items: center; 
  font-weight: bold;
} 
.about--section--img {
  flex: 0 0 auto; 
  margin-right: 400px;
  margin-left: 60px;
  margin-top: 180px;
} 
.about--section--img img {
  width: 25rem;
  height: 100%; 
  border-radius: 15px;
  margin-bottom: -1rem; 
  margin-left: 7px;
}
.abaut--content{
  margin-left: -10rem;
  color: whitesmoke;
}
.about--section-description{
  padding: 1rem;
  font-size: large;
  font-weight: 200;
}
.about--section--rectangle {
  flex: 1 1 auto;
  background-color: #e6a0ee; 
  width: 500px;
  height: 15rem;
  margin-left: -100px;
  animation: slideInFromRight 1s ease forwards; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10px); 
  margin-top: 10rem;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.skills-section--heading{
  text-align: start;
}
.skill-group{
  display: flex;
  margin-top: 30px;
  gap: 5rem;
}
.skills-group{
  display: flex;
  margin-top: 30px;
  gap: 5rem;
}
.skillz-group{
  display: flex;
  margin-top: 20px;
  gap: 5rem;
}
.skill-name {
  font-weight: bold;
  margin-bottom: 10px; 
}
.Skills {
  margin-left: -100px;
}
.skill-progress {
  background-color: #e6a0ee;  
  width: 15rem;
  height: 1.5rem;
}
.progress-bar {
  width: 15rem; 
  height: 1.5rem;
  background: #e81cff;
}
  /* Media Queries for Responsiveness */
  @media only screen and (max-width: 768px) {
  .about--section--content {
    flex-direction: column; 
    text-align: center; 
    font-size: small;
  }
  .about--section--img {
    margin-top: 2rem; 
    margin-right: 0; 
    margin-left: 0; 
  }
  .about--section--rectangle {
    width:90%; 
    height: fit-content;
    margin-left: 1rem; 
    margin-top: 2rem; 
  }
  .about--section--heading {
    top: 1rem; 
    right: 0; 
  }
  .skill-group,
  .skills-group,
  .skillz-group
  {
    display: block;
    margin-left: 200px;
    top: 10px;
  }
 
}
/*About Me Style End*/

/* Projects  */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  padding: 6rem;
  gap: 140px; /* Adjust alignment as needed */
}
.flip-card {
  perspective: 1000px;
  width: calc(50% - 10px); 
  margin-bottom: 10px; 
}
.flip-card-inner {
  width: 300px;
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  left: 90px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
}
  flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .flip-card-back {
    background-color: #e81cff;
    color: black;
    transform: rotateY(180deg);
  }
  /* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 2rem;
    gap: 16px; 
    margin-top: 5rem;
  }
  .flip-card {
    margin-left: -70px;
    width: 250px;
  }
  .flip-card-back{
    width: 100%;
  }
}
 /* End of projects */

 /* Services Style Start */
 .service-box {
  display: grid;
  width: 300px;
  height: auto;
  background-color: whitesmoke;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #080808;
  background-color: #080808;
  box-shadow: 0 0 0 10px #e81cff;
  border-radius: 50%;
}
.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}
.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
  color: #0a0f0f;
}
.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}
.service-box .s-description {
  color: #4e4e4e;
}
.row{
  display: flex;
  column-gap: 2rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
}
.text-center{
  align-items: center;
}
  /* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  
  .service-box {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
  }
}
/* Services style end */

/* Contact Me */
.contact--section {
  display:grid;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 85px; 
  gap: 40px;
}

.contact-details{
  top: 3rem;
  right: 5rem;
  position: relative;
}
.map-route {
  position: relative;
  width: 20%;
  height: 5rem;
  right: 10rem;
}
.map-container{
  position: relative;
  top: 5rem;
  
}
.form-wrapper {
position: relative;
margin-right: 30rem;
background: linear-gradient(#212121, #212121) padding-box,
linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
border: 5px solid transparent;
border-radius: 16px; 
padding: 1rem;
width: 40rem;
height: 27rem;
color: white; 
}
.contact_info{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}
.contact--label{
  height: 5rem;
}

.container {
 width: 35rem;
} 
.contact--input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-image: linear-gradient(#212121, #212121);
}
.recaptcha-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  transform: scale(0.8);
  gap:1rem;
}
  /* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 80%;
    margin-right: 0;  
    height: 460px;
    left: 20px;
  }
  .container{
    width: 100%;
  }
  .contact--input{
    width: 80%;
    margin: 0;
  }
  .contact-details,
  .map-container {
    display: none; 
  }

  .contact--section {
    padding: 3rem 1rem; 
  }
  .recaptcha-container,
  .submit-btn {
    display: block;

  }
}
/* end of contact Me Style*/


/* Footer Starts */
.footer-container {
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  background-image: linear-gradient(#212121, #212121);
}

.social-icons a {
  color: #e81cff;
  font-size: 20px;
  margin: 0 10px; 
  text-decoration: none; 
}

.social-icons a:hover {
  color: #00DBDE;
}

.copyright {
  margin-top: 10px; /* Add some space between icons and copyright */
  
}
/* Back To Top Button */
.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #e81cff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .social-icons a {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .back-to-top-btn {
    display: block; /* Show the button on smaller screens */
  }
}


