/*Global CSS*/
body{
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

/* Global button style */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border:#222;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  background: linear-gradient(#212121, #212121) padding-box,
  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 5px solid transparent;
  border-radius: 16px; 
}

.btn:hover {
  background-color: #40c9ff;
}
/*Sectin Tittles*/
/*About, Projects, Contact*/
.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  align-self: flex-start;
}
/*Section Titles End*/


/*Navbar Style start*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar--items {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 600px;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: center; 
  gap: 40px; 
  margin: 0; 
}
.navbar--items ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar--content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.theme-button-container {
  position: fixed;
  top: 10px;
  right: -400px;
}
.container {
  display: inline-block;
  position: relative;
}
.checkbox {
  display: none;
}
.switch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e81cff;
  border-radius: 50%;
  transition: transform 0.4s;
}

.checkbox:checked + .switch .slider {
  background-color: #222; /* Dark background color */
}

.checkbox:checked + .switch .slider:before {
  transform: translateX(26px); /* Move the slider to the right when checked */
}

/* styles.css */

.dark-theme {
  background-color: rgb(6, 6, 12);
  color: white; /* Adjust text color as needed */
}
/* Light Theme */
.light {
  --text-color: #333; /* Define text color */
  --background-color: #e8e8e8; /* Define background color */
}

.dark {
  --text-color: #fff; /* Define text color */
  --background-color: #212121; /* Define background color */
  
}

/* Apply theme to elements */
body {
  color: var(--text-color);
  background-color: var(--background-color);
}
.theme-button:hover {
  background-color: hsl(240, 3%, 93%); 
}
/*Navbar style end*/

/* Hero Section  Style Start */
.hero--section {
  display: flex;
  padding: 133.333px 85.333px 133.333px;
  justify-content: center;
  height: 80dvh;
  gap: 32px;
  bottom: 10px;
}
.hero-image {
  width: 20rem;
  height: 100%; 
  border-radius: 100%;
  margin-bottom: 2rem;  
}
.hero--image{
  margin-left: 200px;
}
.Typewriter-text{
  color:#e81cff;
  font-size: larger;
  font-weight: bolder;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
  margin-top: 150px;
}
.hero--section--buttons {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.hero--section--title {
  color: var(--heading-color);
  font-size: 200px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .hero--section {
    padding: 80px 20px;
  }

  .hero--section--content--box {
    gap: 20px;
  }

  .hero--section--content .h2{
    font-size: large;
  }
  
  .section--title {
    font-size: 100px;
    line-height: 48px;
  }
}
/* Hero Section Style End */

/* About Me Section Style  */
.about--section--heading {
  position: relative;
  top: 8rem;
  right: 7rem;
}
.about--section--content {
  display: flex; 
  align-items: center; 
  font-weight: bold;
} 
.about--section--img {
  flex: 0 0 auto; 
  margin-right: 400px;
  margin-left: 60px;
  margin-top: 180px;
} 
.about--section--img img {
  width: 25rem;
  height: 100%; 
  border-radius: 15px;
  margin-bottom: -1rem; 
  margin-left: 7px;
}
.abaut--content{
  margin-left: -10rem;
  color: whitesmoke;
}
.about--section-description{
  padding: 1rem;
  font-size: large;
  font-weight: 200;
}
.about--section--rectangle {
  flex: 1 1 auto;
  background-color: #e6a0ee; 
  width: 500px;
  height: 15rem;
  margin-left: -100px;
  animation: slideInFromRight 1s ease forwards; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10px); 
  margin-top: 10rem;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.skills-section--heading{
  text-align: start;
}

.skill-group{
  display: flex;
  margin-top: 30px;
  gap: 5rem;
}
.skills-group{
  display: flex;
  margin-top: 30px;
  gap: 5rem;
}
.skillz-group{
  display: flex;
  margin-top: 20px;
  gap: 5rem;
}
.skill-name {
  font-weight: bold;
  margin-bottom: 10px; 
}
.Skills {
  margin-left: -100px;
}
.skill-progress {
  background-color: #e6a0ee;  
  width: 15rem;
  height: 1.5rem;
}
.progress-bar {
  width: 15rem; 
  height: 1.5rem;
  background: #e81cff;
}

  /* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
  .about--section--content {
    flex-direction: column; /* Change flex-direction to column for smaller screens */
    text-align: center; /* Center align content */
    font-size: small;
  }

  .about--section--img {
    margin-top: 2rem; /* Adjust margin-top for smaller screens */
    margin-right: 0; /* Remove margin-right */
    margin-left: 0; /* Remove margin-left */
  }

  .about--section--rectangle {
    width:90%; /* Set width to 100% for smaller screens */
    height: fit-content;
    margin-left: 1rem; /* Remove margin-left */
    margin-top: 2rem; /* Adjust margin-top for smaller screens */
  }

  .about--section--heading {
    top: 1rem; /* Adjust top margin for smaller screens */
    right: 0; /* Remove right margin */
  }
  .skill-group,
  .skills-group,
  .skillz-group
  {
    display: block;
    margin-left: 200px;
    top: 10px;
  }
 
}
/*About Me Style End*/

/* Projects  */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  padding: 6rem;
  gap: 190px; /* Adjust alignment as needed */
}

.flip-card {
  perspective: 1000px;
  width: calc(50% - 10px); 
  margin-bottom: 10px; 
}

.flip-card-inner {
  width: 300px;
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 150%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
}
  flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  .flip-card-back {
    background-color: #e81cff;
    color: black;
    transform: rotateY(180deg);
  }
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 2rem;
    gap: 16px; 
    margin-top: 5rem;
  }

  .flip-card {
    margin-left: -70px;
    width: 250px;
  }
  .flip-card-back{
    width: 100%;
  }
}
 /* End of projects */

/* Contact Me */
.contact--section {
  display:grid;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 85px; 
  gap: 40px;
}

.contact-details{
  top: 3rem;
  right: 5rem;
  position: relative;
}
.map-route {
  position: relative;
  width: 20%;
  height: 5rem;
  right: 10rem;
}
.map-container{
  position: relative;
  top: 5rem;
  
}
.form-wrapper {
position: relative;
margin-right: 30rem;
background: linear-gradient(#212121, #212121) padding-box,
linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
border: 5px solid transparent;
border-radius: 16px; 
padding: 1rem;
width: 40rem;
height: 27rem;
color: white; 
}
.contact_info{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}
.contact--label{
  height: 5rem;
}

.container {
 width: 35rem;
} 
.contact--input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-image: linear-gradient(#212121, #212121);
}
.recaptcha-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  transform: scale(0.8);
  gap:1rem;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 80%; /* Adjust width for smaller screens */
    margin-right: 0; /* Remove margin-right */
    height: 460px;
    left: 20px;
  }
  .container{
    width: 100%;
  }
  .contact--input{
    width: 80%;
  }
  .contact-details,
  .map-container {
    display: none; /* Hide contact details and map on smaller screens */
  }

  .contact--section {
    padding: 3rem 1rem; /* Adjust padding for smaller screens */
  }
  .recaptcha-container,
  .submit-btn {
    display: block;

  }
}
/* end of contact Me Style*/


/* Footer Starts */
.footer-container {
  color: #fff; /* Text color */
  padding: 20px; /* Add padding as needed */
  text-align: center; /* Center align text */
  background-image: linear-gradient(#212121, #212121);
}

.social-icons a {
  color: #e81cff; /* Icon color */
  font-size: 20px; /* Adjust icon size */
  margin: 0 10px; /* Add spacing between icons */
  text-decoration: none; /* Remove default underline */
}

.social-icons a:hover {
  color: #00DBDE; /* Change icon color on hover */
}

.copyright {
  margin-top: 10px; /* Add some space between icons and copyright */
}
/* Back To Top Button */
.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #e81cff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

/*Harmburger Menu Style*/
.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
/*Harmburger style end*/


