body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
  /* overflow-y: scroll;
  overflow: hidden; */
}
h1,
h2,
h3,
p {
  margin: 0;
}

/* Section Titles */
/*About Me, Projects, Services, Contact */
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Global button style */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 21px 5px;
  text-decoration: none;
  border: #222;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 5px solid transparent;
  border-radius: 16px;
  width: 200px;
}


.btn:hover {
  background-color: #40c9ff;
}
/*Sectin Tittles*/
/*About, Projects, Contact*/
.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  align-self: flex-start;
}


